
.cookie-footer {

  position: fixed; /* Siempre visible al final de la pantalla */

  bottom: 0; 

  left: 0;

  right: 0;

  background-color: #222; 

  color: #fff; 

  padding: 1em;

  display: flex; 

  justify-content: space-between; 

  align-items: center;

}

.cookie-footer button {

  background-color: #4caf50; 

  color: white;

  border: none;

  padding: 0.5em 1em;

  cursor: pointer;

}

.cookie-footer button:hover {

  background-color: #45a049;
}

.container {

  display: flex;

  justify-content: center; /* Centrar horizontalmente */

  align-items: center; /* Centrar verticalmente */

  height: 100vh; /* Hacer que ocupe toda la altura de la pantalla */

  background-color: #f4f4f4;

}

.card {

  background-color: rgb(192, 81, 81);

  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border-radius: 8px;

  text-align:center;

}

.navbar {

  display: flex;

  justify-content: space-between; /* Elementos en los extremos con espacio entre ellos */

  align-items: center; /* Alinear los elementos verticalmente */

  padding: 10px 20px;

  background-color: #62b7d1;

  color: rgb(224, 9, 196);

}

.nav-links {

  display: flex;

  gap: 15px; /* Espacio entre los enlaces */

}

.login-button {

  background-color: #007BFF;

  color: white;

  border: none;

  padding: 10px 15px;

  cursor: pointer;

}

.card-horizontal {

  display: flex;

  align-items: center; /* Alinear elementos verticalmente */

  gap: 20px; /* Espacio entre la imagen y la descripción */

  padding: 20px;

  border: 1px solid #ddd;

  border-radius: 8px;

  margin-bottom: 20px;

}

.card-image {

  width: 150px;

  height: auto;

  border-radius: 8px;

}

.card-description {

  flex: 1; /* Hacer que la descripción ocupe el espacio disponible */

}

/* Diseño adaptable */

@media (max-width: 600px) {

  .card-horizontal {

    flex-direction: column; /* Apila la imagen y la descripción en pantallas pequeñas */

    align-items: flex-start; /* Alinear a la izquierda en modo columna */

  }

}


.modal {

  position: fixed;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #fff;

  padding: 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  z-index: 2000; /* Alto valor para estar encima de todo */

}
.sticky-note {

  position: sticky;

  top: 20px;

  background-color: yellow;

  padding: 10px;

  z-index: 500; /* Se asegura de estar por encima del contenido principal */

}